* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-size: 40px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 100px;
  height: 700px;
  width: 400px;
  /*border: 10px solid gray;*/
  background-color: rgb(21, 19, 19);
  /*border-color: none;*/
  border-radius: 20px;
}

.result {
  height: 250px;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 100px;
}

.buttons {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
}

.button,
.button-gray,
.button-orange,
.button-zero {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgb(71, 70, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  border: 0px;
}

.button-gray {
  background-color: rgb(193, 190, 190);
  color: black;
}

.button-orange {
  background-color: rgb(255, 153, 0);
}

.button-zero {
  width: 170px;
  border-radius: 50px;
}
